# Chapter 2: Variables and and Simple Data Types
* A variable name is an **identifier**. 
* May consist of letters, digits and underscores (`_`) but may not begin with a digit. 
* Python is _case sensitive_. 
* Each value in Python has a type that indicates the kind of data the value represents.

####  Statement creates `x` and uses the **assignment symbol (`=`)** to give `x` a value.

In [1]:
x_0= "Hello World"
print(x_0)

Hello World

In [2]:
_x0= "Welcome to the Python programming language"
print (_x0)

Welcome to the Python programming language

In [5]:
# 0_x= "Python"
# A variable name cannot start with a digit

### Print a message

### Try to print a Simple Message: Store a message in a variable, and then print that message.

In [6]:
message= "Simple message"
print (message)

Simple message

# Strings

## A string is simply a series of characters. Anything inside quotes is considered a string in Python, and you can use `single` or `double quotes` around your strings
### "This is a string."
### 'This is also a string.'

###  Build in String methods
Directory: dir('  ')

In [1]:
dir(" ")

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [10]:
# make uppercase
Message= "PythoN PRograMMing LanguaGe"
print (Message)
print("The upper case: ",Message.upper())

PythoN PRograMMing LanguaGe
The upper case:  PYTHON PROGRAMMING LANGUAGE

In [11]:
# make lowercase
print("The lower case: ",Message.lower())

The lower case:  python programming language

In [12]:
# capitalize
print("To capitalize: ",Message.capitalize())

To capitalize:  Python programming language

In [14]:
# title
print("As a title: ",Message.title())

As a title:  Python Programming Language

In [17]:
# Concatination
message_new=Message.lower()
print("Welcome to "+message_new)

Welcome to python programming language

In [19]:
# length
message_new
print(message_new)
len(message_new)

python programming language

27

### Format the string using f-string
`formatted string literals,` **f-strings** are string literals that have an f at the beginning and curly braces containing expressions that will be replaced with their values.

In [22]:
name= "Sam"
age=20

In [23]:
print("The name is " +name)

The name is Sam

In [25]:
# print("The age is " +age)
# Type error as we cannot concatinate a string with a number/ integer
print("The age is ",age)

The age is  20

In [27]:
print(f"The name is {name}. The age is {age}.")

The name is Sam. The age is 20.

In [29]:
number1= 45
number2= 57
print(f"The first number is {number1}. The second number is {number2}.")
print(f"The multplication of first and second number is {number1*number2}")

The first number is 45. The second number is 57.
The multplication of first and second number is 2565

## Practice1:
1. Personal Message: Store a person’s name in a variable, and print a message
to that person. Your message should be simple, such as, “Hello Eric,
would you like to learn some Python today?”
2. Name Cases: Store a person’s name in a variable, and then print that person’s
name in lowercase, uppercase, and titlecase.

In [33]:
name="Violet"

In [34]:
print(f"Hello {name}, would you be avalible on the 2nd of September?")

Hello Violet, would you be avalible on the 2nd of September?

In [36]:
print(f"Hello {name.upper()}, would you be avalible on the 2nd of September?")

Hello VIOLET, would you be avalible on the 2nd of September?

In [37]:
print(f"Hello {name.lower()}, would you be avalible on the 2nd of September?")

Hello violet, would you be avalible on the 2nd of September?

In [38]:
print(f"Hello {name.title()}, would you be avalible on the 2nd of September?")

Hello Violet, would you be avalible on the 2nd of September?

## Adding Whitespace to Strings with Tabs or Newlines or  quotation
* A backslash (`\`) in a string is the **escape character**. 
* The backslash and the character immediately following it form an **escape sequence**. 

#### 2.4.2 Other Escape Sequences
| Escape sequence | Description
| :------- | :------------
| `\n` | Insert a newline character in a string. When the string is displayed, for each newline, move the screen cursor to the beginning of the next line. 
| `\t` | Insert a horizontal tab. When the string is displayed, for each tab, move the screen cursor to the next tab stop. 
| `\\` | Insert a backslash character in a string.
| `\"` | Insert a double quote character in a string.
| `\'` | Insert a single quote character in a string.

In [39]:
print("Insert a newline character in a string.")

Insert a newline character in a string.

In [41]:
print("Insert \n a \nnewline \n character \nin \n a \nstring")

Insert
 a
newline
 character
in
 a
string

In [42]:
print("Insert \ta \tnewline \tcharacter \tin \ta \tstring")

Insert 	a 	newline 	character 	in 	a 	string

In [43]:
print("The student's name is: Eric")

The student's name is: Eric

In [44]:
print('The student\'s name is: Eric')

The student's name is: Eric

## Useful methods for split a string

In [45]:
dir(" ")

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [47]:
print(message_new)
message_new.split(sep= " ")
# Convert a string into a list

python programming language

['python', 'programming', 'language']

In [48]:
# message_new.split(sep= "p")

['', 'ython ', 'rogramming language']

## Useful methods for strip a string
- lstrip
- rstrip
- strip

In [53]:
message1=" Python Programming Language "

In [54]:
message1.lstrip()

'Python Programming Language '

In [55]:
message1.rstrip()

' Python Programming Language'

In [56]:
message1.strip()

'Python Programming Language'

## Practice2
1. Stripping Names: Store a person’s name, and include some whitespace characters at the beginning and end of the name. Make sure you use each character combination, "\t" and "\n", at least once.
Print the name once, so the whitespace around the name is displayed.
Then print the name using each of the three stripping functions, lstrip(),
rstrip(), and strip().

In [3]:
name= " \nZoe \nMeck\tlen\tburg "
print(f"Hi, I am {name}")

Hi, I am
Zoe
Meck	len	burg

In [5]:
print(f"The lstrip of my name: {name.lstrip()}")

The lstrip of my name: Zoe
Meck	len	burg

In [6]:
print(f"The rstrip of my name: {name.rstrip()}")

The rstrip of my name:
Zoe
Meck	len	burg

In [7]:
print(f"The strip of my name: {name.strip()}")

The strip of my name: Zoe
Meck	len	burg

#### Replacing words or characters of a string

In [10]:
message= "Python Programming Language"
message=message.replace('Python','Java')
print(message)

Java Programming Language

In [12]:
# Replacing the characters
message_new=message.replace('a','e')
print(message_new)

Jeve Progremming Lenguege

# Number

# Data Types
* `float` (floating point) - used for real numbers.
* `int` (integer) - used for integers.

## Arithmetic Operator
| Python operation | Arithmetic operator | Python expression
| :-------- | :-------- | :-------- 
| Addition | `+`  | `f + 7` 
| Subtraction | `–` | `p - c` 
| Multiplication | `*` | `b * m` 
| Exponentiation | `**` |  `x ** y` 
| True division | `/` | `x / y` 
| Floor division | `//` | `x // y` 
| Remainder (modulo) | `%` | `r % s` 

`Floor division` is an operation in Python that divides two numbers and rounds the result down to the nearest integer.

In [13]:
# True Division
9/4

2.25

In [15]:
# Floor Division
9//4

2

In [16]:
# Modulo
9%4

1

In [17]:
# Exponent
2**(3)

8

## Avoiding Type Errors with the str() Function
### How to concatinate an integer with a string

In [19]:
name= "Ella"
age= 20
print("The name is: " + name + ". The age is: " + str(age))

The name is: Ella. The age is: 20

In [20]:
type(age)

int

In [21]:
type(name)

str

In [22]:
type(str(age))

str

## Practice3 
1. Write addition, subtraction, multiplication, and division
operations that each result in the number 91. Be sure to enclose your operations
in print statements to see the results. You should create four lines that look
like this:
print(53 + 38)
Your output should simply be four lines with the number 91 appearing once
on each line.
2. Favorite Number: Store your favorite number in a variable. Then, using
that variable, create a message that reveals your favorite number. Print that
message.

In [23]:
print(f"The addition: {53+38}")

The addition: 91

In [24]:
print(f"The subtraction: {100-9}")

The subtraction: 91

In [27]:
print(f"The multiplication: {91*1}")

The multiplication: 91

In [26]:
print(f"The division: {91/1}")

The division: 91.0

In [28]:
fav_num=415
print(f"My favorite number is {fav_num}!")

My favorite number is 415!

## Getting Input from the User
* Built-in **`input` function** requests and obtains user input.

In [29]:
flower=input("Enter a flowers name: ")

Enter a flowers name: Lily

In [30]:
first_name=input("Enter your first name: ")
last_name=input("Enter your last name: ")
print(f"The full name is: {first_name} {last_name}")

Enter your first name: Zoe
Enter your last name: Mecklenburg
The full name is: Zoe Mecklenburg

In [31]:
type(first_name)

str

In [32]:
number=input("Enter a number: ")
print(number)
type(number)

Enter a number: 56
56

str

## Getting an Integer/ Float from the User
* If you need an integer, convert the string to an integer using the built-in **`int` / `float` function**.

In [34]:
number1= int(input("Enter an integer: "))
number2= float(input("Enter a floating point number: "))
print(f"The first number {number1}. The second number {number2}.")
print(f"The multiplication result is: {number1*number2}")

Enter an integer: 34
Enter a floating point number: 45
The first number 34. The second number 45.0.
The multiplication result is: 1530.0

In [37]:
number3=float(input("Enter an integer number: "))
print(number3)

Enter an integer number: 56.99
56.99

## Checking the data type using `type` function

In [38]:
type(number3)

float

## Errors in Python
When an error occurs in your program, the Python interpreter does its
best to help you figure out where the problem is. The interpreter provides
a traceback when a program cannot run successfully. A traceback is a record
of where the interpreter ran into trouble when trying to execute your code.
Errors can be classified into three major groups:
- Syntax errors
- Runtime errors
- Logical errors

### Syntax error.
- Python will find these kinds of errors when it tries to parse your program, and exit with an error message without running anything. 
- Syntax errors are mistakes in the use of the Python language, and are analogous to spelling or grammar mistakes in a language like English: for example, the sentence Would you some tea? does not make sense – it is missing a verb.

### Example:
- leaving out a keyword
- putting a keyword in the wrong place
- leaving out a symbol, such as a colon, comma or brackets
- misspelling a keyword
- incorrect indentation
- empty block

In [39]:
#print("this is an error)
#fix
print("this is an error")

this is an error

In [ ]:
#len('hello')=5

## Runtime error
- A program with a runtime error is one that passed the interpreter’s syntax checks, and started to execute. 
- However, during the execution of one of the statements in the program, an error occurred that caused the interpreter to stop executing the program and display an error message. 
- Runtime errors are also called `exceptions` because they usually indicate that something exceptional (and bad) has happened.

### Examples: 
- division by zero.
- performing an operation on incompatible types.
- using an identifier which has not been defined.
- accessing a list element, dictionary value or object attribute which doesn't exist.
- trying to access a file which doesn't exist.

In [40]:
#print(6/0)

ZeroDivisionError: division by zero

In [42]:
total= float(input("Enter the amount you spent: "))
tax= .06*total
print(f"The subtotal is: {total+tax}")

Enter the amount you spent: 67.88
The subtotal is: 71.9528

### Logical error
- Logical errors are the most difficult to fix. They occur when the program runs without crashing, but produces an incorrect result. 
- The error is caused by a mistake in the program’s logic. 
- You won’t get an error message, because no syntax or runtime error has occurred. 
- You will have to find the problem on your own by reviewing all the relevant parts of your code

In [44]:
number1=3
number2=55
print(f"The addition of the number is: {number1*number2} ")

The addition of the number is: 165