# 6. Working with Dictionaries
* A dictionary in Python is a collection of key-value pairs. 
* Each key is connected to a value, and you can use a key to access the value associated with that key.
* A keyâ€™s value can be a number, a string, a list, or even another dictionary.

* `Key` is the unique identifier to find data and the `value` is the data

* A dictionary is a collection which is ordered*, changeable and does not allow duplicates.

* Unlike strings, lists, and tuples, **dictionaries are not sequences** - the data are not stored in order. 
* List can be represented by [ ], Tuple can be represented by ( ), Dictionary  can be represented by { }

In [1]:
dict={}
type(dict)

dict

In [4]:
data={'Alabama':'Montgomery','Arizona':'Phoenix','Georgia':'Atlanta','Kentucky':'Frankfort','Ohio':'Columbus'}

### Access `values` from a dictionary using key
* Key and values can be any data types
* Accessing key value not present in dictionary generated KeyError

In [5]:
data['Ohio']

'Columbus'

In [6]:
data['Georgia']

'Atlanta'

In [8]:
#data['New York']
# If the key is not in the dictionary, it will create an error

### Update elements of a dictionary and add new elements

In [29]:
day={1:'Mon',2:'Tues',4:('Thu','Fri'),5:['Sat','Sun']}

In [32]:
#Thu
day[4][0]

'Thu'

In [33]:
day[5][1]

'Sun'

In [34]:
day[3]='Wed'
day

{1: 'Mon', 2: 'Tues', 4: ('Thu', 'Fri'), 5: ['Sat', 'Sun'], 3: 'Wed'}

In [35]:
# update sat to holiday
day[5][0]='holiday'
day

{1: 'Mon', 2: 'Tues', 4: ('Thu', 'Fri'), 5: ['holiday', 'Sun'], 3: 'Wed'}

### `get` and `update` methods

In [36]:
# return wed
day.get(3)

'Wed'

In [37]:
#return Mon
day.get(1)

'Mon'

In [38]:
day.get(6) # will not return an error if the key is not present

In [39]:
#day.get[6] #will return error

In [40]:
data={'Alabama':'Montgomery','Arizona':'Phoenix','Georgia':'Atlanta','Kentucky':'Frankfort','Ohio':'Columbus'}

In [41]:
data.update({'Kentucky':'Louisville'})
data

{'Alabama': 'Montgomery',
 'Arizona': 'Phoenix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Louisville',
 'Ohio': 'Columbus'}

In [42]:
data.update({'Louisiana':'Baton Rouge'})
data

{'Alabama': 'Montgomery',
 'Arizona': 'Phoenix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Louisville',
 'Ohio': 'Columbus',
 'Louisiana': 'Baton Rouge'}

In [43]:
data.update({'Missouri':'Jefferson City','Kentucky':'Frankfort'})
data

{'Alabama': 'Montgomery',
 'Arizona': 'Phoenix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Frankfort',
 'Ohio': 'Columbus',
 'Louisiana': 'Baton Rouge',
 'Missouri': 'Jefferson City'}

### Delete dictionary items using `del` and `pop`

### Number of elements in the dictionary and extracting `keys()`, `values()`, `items()`

In [1]:
data={'Alabama':'Montgomery','Arizona':'Phoenix','Georgia':'Atlanta','Kentucky':'Frankfort','Ohio':'Columbus'}

In [2]:
data.keys()

dict_keys(['Alabama', 'Arizona', 'Georgia', 'Kentucky', 'Ohio'])

In [3]:
data.values()

dict_values(['Montgomery', 'Phoenix', 'Atlanta', 'Frankfort', 'Columbus'])

In [4]:
data.items()

dict_items([('Alabama', 'Montgomery'), ('Arizona', 'Phoenix'), ('Georgia', 'Atlanta'), ('Kentucky', 'Frankfort'), ('Ohio', 'Columbus')])

### Loop through a dictionary

In [6]:
# unpack the dictionary keys
for i in data.keys():
    print(i)
    print(type(i))

Alabama
<class 'str'>
Arizona
<class 'str'>
Georgia
<class 'str'>
Kentucky
<class 'str'>
Ohio
<class 'str'>

In [7]:
# unpack dictionary values
for i in data.values():
    print(i)

Montgomery
Phoenix
Atlanta
Frankfort
Columbus

In [8]:
# unpack dictionary items
for i in data.items():
    print(i)

('Alabama', 'Montgomery')
('Arizona', 'Phoenix')
('Georgia', 'Atlanta')
('Kentucky', 'Frankfort')
('Ohio', 'Columbus')

In [10]:
# unpack dictionary items
for j,k in data.items():
    print("state: ",j)
    print("capital: ",k)

state:  Alabama
capital:  Montgomery
state:  Arizona
capital:  Phoenix
state:  Georgia
capital:  Atlanta
state:  Kentucky
capital:  Frankfort
state:  Ohio
capital:  Columbus

### Convert dictionary to lists using `list()` function

In [11]:
data

{'Alabama': 'Montgomery',
 'Arizona': 'Phoenix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Frankfort',
 'Ohio': 'Columbus'}

In [13]:
# dictionary keys to a list
list(data.keys())

['Alabama', 'Arizona', 'Georgia', 'Kentucky', 'Ohio']

In [14]:
# dictionary values to a list
list(data.values())

['Montgomery', 'Phoenix', 'Atlanta', 'Frankfort', 'Columbus']

### A List in a Dictionary: How to unpack all of the entries?

In [16]:
fav_lan={'Jen':['python','ruby'],
        'Sarah':['c'],
        'Edward':['ruby','java'],
        'Phil':['python','java']}
fav_lan

{'Jen': ['python', 'ruby'],
 'Sarah': ['c'],
 'Edward': ['ruby', 'java'],
 'Phil': ['python', 'java']}

In [20]:
for name,subjects in fav_lan.items():
    print(f"The name is: {name.title()}. And the favorite languages are: ")
    for i in subjects:
        print("\t\t\t\t\t\t",i)

The name is: Jen. And the favorite languages are:
						 python
						 ruby
The name is: Sarah. And the favorite languages are:
						 c
The name is: Edward. And the favorite languages are:
						 ruby
						 java
The name is: Phil. And the favorite languages are:
						 python
						 java

###  A Dictionary in a Dictionary

In [21]:
user={'est':{'first':'albert',
                 'last':'einstein',
                 'location':'prinston'},
     'mcr':{'first':'marie',
           'last':'curie',
           'location':'paris'},}
user

{'est': {'first': 'albert', 'last': 'einstein', 'location': 'prinston'},
 'mcr': {'first': 'marie', 'last': 'curie', 'location': 'paris'}}

In [22]:
# print albert
user['est']['first']

'albert'

In [23]:
# print paris
user['mcr']['location']

'paris'

In [27]:
for username, user_info in user.items():
    print("Username:",username)
    full_name=user_info['first']+" "+user_info['last']
    print("full name: ",full_name)
    print("location: ",user_info['location'])

Username: est
full name:  albert einstein
location:  prinston
Username: mcr
full name:  marie curie
location:  paris